.column {
  margin-bottom: 2rem;
  .card {
    max-height: 325px;
    margin: auto;
  }
  .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.09), 0 6px 6px rgba(0,0,0,.13);
  }
  .header {
    font-family: 'Thasadith', sans-serif !important;
  }
  .body {
    max-height: 170px;
    overflow: hidden;
    white-space: pre-wrap;
  }
}
.edit-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer
}
.edit-button:hover {
  color: cadetblue;
  transform: rotate(90deg);
}
.delete-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer
}
.delete-button:hover {
  color: crimson;
  transform: rotate(180deg);
}
