.veil {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  //background: rgba(84, 200, 255, 0.64);
  background: rgba(0, 0, 0, 0.37);
  z-index: 1;
  position: fixed;
}
.modal {
  h1 {
    font-family: 'Thasadith', sans-serif !important;
  }
  z-index: 2;
  height: auto;
  background-color: white;
  box-shadow: 6px 6px 8px 1px;
  padding: 2vh;
  position: fixed;
  width:60%;
  top: 50%;
  left: 50%;
  border-radius: .28571429rem;
  transform: translate(-50%, -50%);
  .modalButton {
    z-index: 3;
    float: right;
  }
}
